<div id="appVue">
<div class="ak-div-padre-ventajas">
<div class="ak-row-cols-ventajas w-row">
<div class="ak-col-padre-ventajas w-col w-col-6">
<div class="ak-col-padre-ventajas w-row">
<div class="ak-col4-ventajas w-col w-col-6 w-col-small-6 w-col-tiny-6">
<div class="ak-div-ventajas">
<div class="ak-row-col-ventajas w-row">
<div class="ak-col-division-ventajas w-col w-col-4 w-col-small-4"><img src="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/padlock.png" loading="lazy" width="46" sizes="(max-width: 479px) 45vw, 46px" srcset="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/padlock.png 500w, https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/padlock.png 512w" alt="" class="ak-icono-ventajas" /></div>
<div class="ak-col-division-ventajas w-col w-col-8 w-col-small-8">
<div class="ak-txt-ventajas">Pago<br />100% seguro</div>
</div>
</div>
</div>
</div>
<div class="ak-col4-ventajas w-col w-col-6 w-col-small-6 w-col-tiny-6">
<div class="ak-div-ventajas">
<div class="ak-row-col-ventajas w-row">
<div class="ak-col-division-ventajas w-col w-col-4 w-col-small-4"><img src="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/camion_1camion.png" loading="lazy" width="46" alt="" class="ak-icono-ventajas" /></div>
<div class="ak-col-division-ventajas w-col w-col-8 w-col-small-8">
<div class="ak-txt-ventajas">Envíos GRATIS en tus compras</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ak-col-padre-ventajas w-col w-col-6">
<div class="ak-raw-2col-ventajas w-row">
<div class="ak-col4-ventajas w-col w-col-6 w-col-small-6 w-col-tiny-6">
<div class="ak-div-ventajas">
<div class="ak-row-col-ventajas w-row">
<div class="ak-col-division-ventajas w-col w-col-4 w-col-small-4"><img src="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/ICONOS_H-04_1ICONOS_H-04.png" loading="lazy" width="46" alt="" class="ak-icono-ventajas" /></div>
<div class="ak-col-division-ventajas w-col w-col-8 w-col-small-8">
<div class="ak-txt-ventajas">90 días de Cambios GRATIS</div>
</div>
</div>
</div>
</div>
<div class="ak-col4-ventajas w-col w-col-6 w-col-small-6 w-col-tiny-6">
<div class="ak-div-ventajas">
<div class="ak-row-col-ventajas w-row">
<div class="ak-col-division-ventajas w-col w-col-4 w-col-small-4"><img src="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/ICONOS_H-02_1ICONOS_H-02.png" loading="lazy" width="46" alt="" class="ak-icono-ventajas" /></div>
<div class="ak-col-division-ventajas w-col w-col-8 w-col-small-8">
<div class="ak-txt-ventajas">Nuevo: Pago contra entrega</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="ak-div-col-licencias">
<div class="ak-cont-col-toma-producto w-row">
<div class="ak-col-toma-producto w-col w-col-4 w-col-small-4">
<div class="ak-link-carrusel-sec1">
<div class="ak-div-block-coneptos">
<h3 class="ak-heading-carrusel">CAMISETAS</h3>
<a href="https://www.koaj.co/mujer/ropa/camisetas/" class="ak-bot-negro w-button">MUJER</a> <a href="https://www.koaj.co/hombre/ropa/camisetas/" class="ak-bot-negro w-button">HOMBRE</a></div>
</div>
</div>
<div class="ak-col-toma-producto w-col w-col-4 w-col-small-4">
<div class="ak-div-form">
<div class="ak-div-form-optin">
<div class="ak-div-block-whatsapp"><img src="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/BOTONES_PH_Mesa-de-trabajo-1.png" loading="lazy" alt="" class="ak-img-whatsapp" />
<div class="ak-txt-whatsapp">Y recibe tu pedido en <br />tiempo record +57 1 7940799</div>
<a href="https://api.whatsapp.com/send?phone=5717940799" class="ak-bot-negro w-button">COMPRAR</a></div>
</div>
<div class="ak-div-form-optin ak-rojo">
<div class="ak-div-block-form-optin"><img src="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/BOTONES_PH_Mesa-de-trabajo-1-copia.png" loading="lazy" alt="" class="ak-img-regalo" />
<div class="ak-form-block-otpin w-form"><form id="email-form" name="email-form" data-name="Email Form" class="ak-form-optin" v-on:click="checkForm"><input type="text" class="ak-input-form-optin w-input" maxlength="256" placeholder="Nombre" id="name-3" v-model="name" /> <input type="email" class="ak-input-form-optin w-input" maxlength="256" placeholder="Correo electrónico" id="email-3" required="" v-model="email" /> <button class="ak-bot-negro w-button">OBTENER DESCUENTO</button></form>
<div class="w-form-done">
<div>Thank you! Your submission has been received!</div>
</div>
<div class="w-form-fail">
<div>Oops! Something went wrong while submitting the form.</div>
</div>
</div>
<div class="ak-txt-legales">Al registrarte estás aceptando nuestra política de protección de datos y los términos y condiciones.<br /> <a href="http://promos.koaj.co/col/" class="ak-link"></a></div>
</div>
</div>
</div>
</div>
<div class="ak-col-toma-producto w-col w-col-4 w-col-small-4">
<div class="ak-link-carrusel-sec1 akimg3">
<div class="ak-div-block-coneptos">
<h3 class="ak-heading-carrusel">JEANS</h3>
<a href="https://www.koaj.co/hombre/ropa/jeans/" class="ak-bot-negro w-button">MUJER</a> <a href="https://www.koaj.co/hombre/ropa/jeans/" class="ak-bot-negro w-button">HOMBRE</a></div>
</div>
</div>
</div>
<div class="ak-cont-col-tomas-producto-mobile w-row">
<div class="ak-col-mobile-tomas w-col w-col-6 w-col-small-6 w-col-tiny-6">
<div class="ak-link-carrusel-sec1">
<div class="ak-div-block-coneptos">
<h3 class="ak-heading-carrusel">CAMISETAS</h3>
<a href="https://www.koaj.co/mujer/ropa/camisetas/" class="ak-bot-negro w-button">MUJER</a> <a href="https://www.koaj.co/hombre/ropa/camisetas/" class="ak-bot-negro w-button">HOMBRE</a></div>
</div>
</div>
<div class="ak-col-mobile-tomas w-col w-col-6 w-col-small-6 w-col-tiny-6">
<div class="ak-link-carrusel-sec1 akimg3">
<div class="ak-div-block-coneptos">
<h3 class="ak-heading-carrusel">JEANS</h3>
<a href="https://www.koaj.co/hombre/ropa/jeans/" class="ak-bot-negro w-button">MUJER</a> <a href="https://www.koaj.co/hombre/ropa/jeans/" class="ak-bot-negro w-button">HOMBRE</a></div>
</div>
</div>
</div>
</div>
<div class="ak-cols-mobile w-row">
<div class="ak-cols-optin-mobile w-col w-col-6">
<div class="ak-div-form-optin-mobile">
<div class="ak-div-form-optin-mobile">
<div><img src="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/BOTONES_PH_Mesa-de-trabajo-1.png" loading="lazy" alt="" class="ak-img-whatsapp" />
<div class="ak-txt-whatsapp">Y recibe tu pedido en <br />tiempo record +57 1 7940799</div>
<a href="https://api.whatsapp.com/send?phone=5717940799" class="ak-bot-negro ak-botform w-button">COMPRAR</a></div>
</div>
</div>
</div>
<div class="ak-cols-optin-mobile w-col w-col-6">
<div class="ak-div-form-optin-mobile rojo">
<div class="ak-div-block-form-optin"><img src="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/BOTONES_PH_Mesa-de-trabajo-1-copia.png" loading="lazy" alt="" class="ak-img-regalo" />
<div class="ak-form-block-otpin w-form"><form class="ak-form-optin" v-on:click="checkForm"><input type="text" class="ak-input-form-optin w-input" maxlength="256" placeholder="Nombre" v-model="name" /><input type="email" class="ak-input-form-optin w-input" maxlength="256" placeholder="Correo electrónico" id="email-2" required="" v-model="email" /><button class="ak-bot-negro ak-botform w-button">OBTENER DESCUENTO</button></form>
<div class="w-form-done">
<div>Thank you! Your submission has been received!</div>
</div>
<div class="w-form-fail">
<div>Oops! Something went wrong while submitting the form.</div>
</div>
</div>
<div class="ak-txt-legales">Al registrarte estás aceptando nuestra política de protección de datoy s los térrminos y condiciones.<br /> <a href="http://promos.koaj.co/col/" class="ak-link"></a></div>
</div>
</div>
</div>
</div>
</div>
<p style="padding-top: 30px; padding-bottom: 30px;"><img src="https://dev.koaj.co/img/external_libraries_loader/wf-homenew/images/titulo-licencias.png" class="ak-titulo-licencias-img" width="358" /></p>
<div class="swiper-container mySwiper">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="ak-card">
<div class="ak-card-header"></div>
<div class="ak-card-body">
<div class="ak-txt-titulo-licencia">DISNEY</div>
<div class="ak-cols-bot-licencias w-row">
<div class="ak-col-botlicencias w-col w-col-6 w-col-stack"><a href="https://www.koaj.co/mujer/disney_mujer/" class="ak-bot-licencia-carrusel w-button">MUJER</a></div>
<div class="ak-col-botlicencias w-col w-col-6 w-col-stack"><a href="https://www.koaj.co/hombre/disney_hombre/" class="ak-bot-licencia-carrusel w-button">HOMBRE</a></div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="ak-card">
<div class="ak-card-header vintage"></div>
<div class="ak-card-body">
<div class="ak-txt-titulo-licencia">VINTAGE POP</div>
<div class="ak-cols-bot-licencias w-row">
<div class="ak-col-botlicencias w-col w-col-6 w-col-stack"><a href="https://www.koaj.co/mujer/licencias/vintagepop/" class="ak-bot-licencia-carrusel w-button">MUJER</a></div>
<div class="ak-col-botlicencias w-col w-col-6 w-col-stack"><a href="https://www.koaj.co/hombre/licencias/vintagepop/" class="ak-bot-licencia-carrusel w-button">HOMBRE</a></div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="ak-card">
<div class="ak-card-header nasa"></div>
<div class="ak-card-body">
<div class="ak-txt-titulo-licencia">NASA</div>
<div class="ak-cols-bot-licencias w-row">
<div class="ak-col-botlicencias w-col w-col-6 w-col-stack"><a href="https://www.koaj.co/nasa_mujer/" class="ak-bot-licencia-carrusel w-button">MUJER</a></div>
<div class="ak-col-botlicencias w-col w-col-6 w-col-stack"><a href="https://www.koaj.co/hombre/licencias/nasa/" class="ak-bot-licencia-carrusel w-button">HOMBRE</a></div>
</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="ak-card">
<div class="ak-card-header fep"></div>
<div class="ak-card-body">
<div class="ak-txt-titulo-licencia">FEP</div>
<div class="ak-cols-bot-licencias w-row">
<div class="ak-col-botlicencias w-col w-col-6 w-col-stack"><a href="https://www.koaj.co/mujer/fep-mujer/" class="ak-bot-licencia-carrusel w-button">MUJER</a></div>
<div class="ak-col-botlicencias w-col w-col-6 w-col-stack"><a href="https://www.koaj.co/hombre/fep-hombre/" class="ak-bot-licencia-carrusel w-button">HOMBRE</a></div>
</div>
</div>
</div>
</div>
</div>
<!-- Add Arrows -->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>